<header class="header">
    <div class="container">
        <div class="header__wrap">
            <nav class="nav">
                <ul class="nav-items">
                    <li class="menu-item"><a href="#">World of Dogs</a></li>
                    <li class="menu-item"><a href="#">все породы</a></li>
                    <li class="menu-item"><a href="#">преимущество</a></li>
                </ul>
            </nav>
            <div class="main-logo"><img src="img/image7.png" alt="main logo"></div>
            <nav class="nav">
                <ul class="nav-items">
                    <li class="menu-item"><a href="#">недостатки</a></li>
                    <li class="menu-item"><a href="#">линька собак</a></li>
                    <li class="menu-item"><a href="#">блог</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>