.dog-breed {
    width: 100%;
    background: var(--main-fon);
    padding-bottom: 70px;
    button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10;
    }
    button.slick-prev.slick-arrow {
        left: 45px;
    }
    button.slick-next.slick-arrow {
        right: 45px;
    }
    .slick-dots {
        display: flex;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        li {
            button {
                position: relative;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 0;
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    width: 20px;
                    height:20px;
                    border-radius: 100%;
                    background: #D9D9D9;
                }
            }
            &.slick-active {
                button {
                    &::after {
                        background: #545050;
                    }
                }
            }
        }
    }
    .slider__block {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(58,60,38,.76);
            backdrop-filter: blur(1.05px);
            opacity: 0;
            transition: opacity .3s ease-in;
        }
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}

.dog-breed__block {
    position: relative;
    height: 100vh;
    max-height: 750px;
    overflow: hidden;
    .btn {
        position: absolute;
        bottom: 55px;
        left: 50%;
        transform: translateX(-50%);
        font-size: clamp(14px, 3vw, 17px);
        width: max-content;
        z-index: 10;
    }
    .excerpt {
        position: absolute;
        inset: 0;
        opacity: 0;
        background: rgba(58, 60, 38, 0.76);
        backdrop-filter: blur(8.050000190734863px);
        padding: 45px 35px;
        transition: opacity .3s linear;
        p {
            color: var(--main-text-color);
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
        }
    }
    &:hover {
        .excerpt {
            opacity: 1;
        }
    }
}

