.title {
    color: var(--main-text-color);
    font-size: clamp(20px, 5vw, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.btn {
    color: var(--darck-text);
    font-size: clamp(14px, 3vw, 18px);
    line-height: normal;
    border-radius: 5px;
    padding: 10px 20px 10px;
    background: var(--btn-fon);
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    &:hover {
        background: #adadad; 
        box-shadow: none;
    }
}

.container {
    width: 1130px;
    max-width: 95%;
    margin: auto;
}

.main-fon {
    background: var(--main-fon);
}