@mixin fluid-text($min: 16, $max: 48) {
    font-size: clamp(#{$min}px, calc($max / 1920) * 100vw, #{$max}px);
}

@mixin container($width, $maxWidth) {
    width: $width;
    max-width: $maxWidth;
    margin: auto;
}