.sheds {
    min-height: 500px;
    background: url(../img/sheds.jpg) no-repeat center;
    background-size: cover;
    padding: 50px 0;
}

.sheds__caption {
    width: 775px;
    max-width: 95%;
    p {
        color: var(--main-text-color);
        font-size: clamp(16px, 4vw, 20px);
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin: 0 auto 20px;
    }
}