:root {
    --main-text-color: #FFFFFF;
    --darck-text: #000000;
    --main-fon: #362E23;
    --fon-2: #3A3C26;
    --btn-fon: #E8E1DB;
    --container-width: 1130px;
    --container-maxWidth: 98%;
}