:root {
    --main-text-color: #FFFFFF;
    --darck-text: #000000;
    --main-fon: #362E23;
    --fon-2: #3A3C26;
    --btn-fon: #E8E1DB;
    --overlay: linear-gradient(0deg, rgba(58, 60, 38, 0.89) 0%, rgba(58, 60, 38, 0.89) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    --video-grad: linear-gradient(2deg, #000 5.15%, rgba(0, 0, 0, 0.52) 63.13%, rgba(0, 0, 0, 0.04) 97.92%);
}