.video {
    padding-top: 60px;
    .title {
        width: 510px;
        margin: 0 auto 45px;
    }
}

.video__block {
    height: 460px;
    video {
        height: 460px;
        width: 100%;
    }
}

.video__pjay {
    .fa {
        font-size: 70px;
        color: var(--btn-fon);
        cursor: pointer;
    }
}